.DS_Store
hamiltonians.txt
*.csv
*.o
*.png
funcTest/funcTest
Simulate/Monte-Carlo/MonteCarlo
resource/stats/stats
Simulate/Monte-Carlo/test.png
doc/Emergent dimensions in Background Independent Quantum Gravity.aux
doc/Emergent dimensions in Background Independent Quantum Gravity.log
doc/Emergent dimensions in Background Independent Quantum Gravity.synctex.gz
Simulate/Monte-Carlo/parameters.txt
Simulate/Monte-Carlo/Results_secondary.zip
lib/nauty/
lib/.DS_Store
