.DS_Store
hamiltonians.txt
*.csv
*.o
funcTest/funcTest
Simulate/Monte-Carlo/MonteCarlo
resource/stats/stats
*.png
doc/Emergent dimensions in Background Independent Quantum Gravity.aux
doc/Emergent dimensions in Background Independent Quantum Gravity.log
doc/Emergent dimensions in Background Independent Quantum Gravity.synctex.gz
